:root {
  .dark-theme {
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
  }
}

/* ion-content, ion-list, .md, .content-sizing, .hydrated, ion-item, .item-native {
  background: var(--ion-color-dark) !important;
  color: var(--ion-color-dark-contrast) !important;
} */

ion-list {
  &.list-ios {
      margin-bottom: 0;
  }
}